

<h3 class="container">Bienvenue dans {{appName}}!</h3>

<div>
    <h4 class="container">Choisissez votre appli: </h4>

    <div class="container">
        <hr>
        <div class="row pt-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
                <a href="/stocks">
                    <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                        <h5 class="card-title">Gestion des Stocks</h5>
                        <p class="card-text">Suivi des mouvements de stocks et calcul d'un prix de journée</p>
                        </div>
                        <div class="col-2" id=image>
                            <img src="assets/params/images/epicerie@1x.jpg" 
                            srcset="assets/params/images/epicerie@3x.jpg,
                            assets/params/images/epicerie@2x.jpg,
                            assets/params/images/epicerie@1x.jpg"
                            width="50" height="50">
                        </div>
                    </div>
                    </div>
                </a>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
            <a href="/km">
                <div class="card-header">
                <div class="row">
                    <div class="col-10 col-xl-10">
                    <h5 class="card-title">Kms véhicules</h5>
                    <p class="card-text">Suivi du kilométrage des véhicules pour affecter le coût</p>
                </div>
                    <div class="col-2 col-xl-2" id=image>
                        <img src="assets/params/images/epicerie@2x.jpg"
                        srcset="assets/params/images/minibus@3x.jpg,
                        assets/params/images/epicerie@2x.jpg,
                        assets/params/images/epicerie@3x.jpg"
                        width="50" height="50">                </div>
                </div>
                </div>
            </a>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">

            </div>

        </div>
        <hr>
    </div>

    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>