<h4 class= "left">Sorties de stock</h4>
<h6 class="left">
  <span ng-controller="CtrlParams">
    Le: {{jour| date:'dd/MM/yyyy'}} 
    &nbsp;Vers: {{origine}}
    <a class="fas fa-pencil-alt" routerLink="/params"></a>
  </span>
</h6>

<div class="sortie" *ngIf="selectedMvt">
    <h4 class="left" >Sortie sélectionnée:</h4>
    <div>
        <label>article /  </label>
        <label for="qte"> qté / </label>
    </div>
    <input class="input" id="art" [(ngModel)]= "selectedMvt.article" placeholder="article">
    <input class="input" id="qte" [(ngModel)]="selectedMvt.qteMouvement" placeholder="qteMouvement">
    <span> {{magasin}} {{rayon}}</span>

</div>

<table class="table table-hover table-striped table-responsive-md" >
  <thead class="bg-secondary">
    <tr>
      <th class="col"> </th>
      <th class="col-8">Article</th>
      <th class="col-2">Qté</th>
      <th class="col-2">Unit</th>
      <th class="col-2">Pour</th>
      <th class="col-2">Coût</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mvt of mvts;"
      [class.selected]="mvt === selectedMvt"
      (click)="onSelect(mvt)"
    >
      <td class= "col item">
      <button type="button" c class="btn btn-info" (click)="openMvt(mvt)">Details</button>
      </td>
      <td class="col itemid">  {{mvt.article}}</td>
      <td class= "col item"> {{mvt.qteMouvement}} </td>
      <td class= "col item"> {{mvt.uniteStock}} </td>
      <td class= "col item"> tarta0 </td>
      <td class= "col item"> {{mvt.uniteStock}} </td>
    </tr>
  </tbody>
</table>