<h6 class= "container left">Sorties de stock</h6>
<h6 class="left">
  <span ng-controller="CtrlParams">
    Le: {{params.jour| date:'dd/MM/yyyy'}}
    &nbsp;Vers: {{params.origine}}&nbsp;
    <a class="bi bi-pencil-fill" routerLink="/params"></a>
  </span>
</h6>

<!--div class="sortie" *ngIf="selectedMvt">
    <h4 class="left" >Sortie sélectionnée:</h4>
    <div>
        <label>article /  </label>
        <label for="qte"> qté / </label>
    </div>
    <input class="input" id="art" [(ngModel)]= "selectedMvt.article" placeholder="article">
    <input class="input" id="qte" [(ngModel)]="selectedMvt.qteMouvement" placeholder="qteMouvement">
    <span> {{magasin}} {{rayon}}</span>

</div-->
<div class="table-responsive">
<table class="table table-striped" >
  <thead class="table-light">
    <tr>
      <th class="">btn</th>
      <th class="">Article</th>
      <th class="">Qté</th>
      <th class="">Unit</th>
      <th class="">Pour</th>
      <th class="">Coût</th>
    </tr>
  </thead>
  <tbody>
    <!--appel modal via ts:  
    <tr *ngFor="let mvt of mvts;"
    [class.selected]="mvt === selectedMvt"
    (click)="openSortie(mvt)"
    > -->
    <tr *ngFor="let mvt of mvts;">
        <td class= "ctnbtn">
        <button type="button" c class="btn btn-primary" (click)="openMvt(mvt)">Details</button>
        </td>
        <td class="item" routerLink="/sortie/{{mvt.id}}">  {{mvt.article}}</td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> {{mvt.qteMouvement * -1 | number : '1.0-5'}} </td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> {{mvt.uniteStock}} </td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> x </td>
        <td class= "col item" routerLink="/sortie/{{mvt.id}}"> {{mvt.uniteStock}} </td>
    </tr>
  </tbody>
</table>
</div>
