.title {margin: 0 0 0px;}
.ctnjour {
    /*--position: fixed;
    top: 10%;
    left: 20%; 
    -webkit-transform: translate(10%,10%); 
    transform: translate(10%, 10%);*/
    width: 120px;
    margin: 0 0 0;
    color: royalblue;
   }
.input {
    width: 60px;
    color: rgb(225, 65, 185);
}   

::ng-deep .mat-input-wrapper{
   width: 250px !important;
}