<div class="modal-header">
  <h4 class="modal-title">Information: {{ mvt.article }}</h4>
</div>
<div class="modal-body">
  <div class="card mvt-border">
      <div class="card-body">
          <p class="card-text"><b>QteMvt :&nbsp; </b>
            <input type="number"  class="input" id="qte" 
            [(ngModel)]="mvt.qteMouvement" placeholder="0.00">
          </p>
          <p class="card-text"><b>Unité : </b>{{ mvt.uniteVente }}</p>
          <p class="card-title"><b>Rayon : </b>{{ mvt.rayon }}</p>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"  (click)="activeModal.dismiss('Cross click')">
    <fa-icon [icon]="['fas', 'reply']" slot="start"></fa-icon>
  No</button>
  <button type="button" ngbAutoFocus class="btn btn-primary" (click)="activeModal.close('Close click')">
  <fa-icon [icon]="['fas', 'check']"slot="start"></fa-icon>
  Ok</button>
</div>