
<app-autocomplete  (retour)="onRetour($event)"></app-autocomplete>

<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-subtitle>Email</mat-card-subtitle>
  <mat-card class="form-card" [formGroup]="emailForm" >
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Adresse mail</mat-label>
        <input type="text" 
        aria-label="Adresse mail"
        matInput formControlName="email">
        <mat-error> {{getFormControlErrorText(emailCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre adresse mail</mat-label>
        <input type="text" 
        aria-label="confirm mail"
        matInput formControlName="confirm">
        <mat-error> {{getFormControlErrorText(confirmEmailCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showEmailError$ | async">Les deux adresses ne correspondent pas</small>
    <div> TEST {{showEmailError$| async}}</div>
  </mat-card>

  <mat-card class="m-1" [formGroup]="loginInfoForm" >  
    <mat-card-subtitle>mot de passe</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field >
        <mat-label>Mot de passe</mat-label>
        <input type="password" 
        aria-label="password"
        matInput formControlName="password">
        <mat-error> {{getFormControlErrorText(passwordCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Confirm. mot de passe</mat-label>
        <input type="password" 
        aria-label="confirm password"
        matInput formControlName="confirmPassword">
        <mat-error> {{getFormControlErrorText(confirmPasswordCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showPasswordError$ | async">Mots de passe différents</small>
    <div> TEST {{showPasswordError$| async}}</div>
    <div>getErrorCtrl : {{getFormControlErrorText(passwordCtrl)}}</div>
  </mat-card>
</mat-card>