/*
.test {
  all: unset;
  height: 200px;
}

.corps {
  display: flex;
  flex-flow: row wrap;
}

label {
  all: unset;
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: unset; // incompatible avec flex
  align-items: center;  // Vertical alignment 
  margin:  0 0.3rem 0.5rem 0.3rem;
  width: 80%;
}

.form-row label {
  flex: 0 1 33.33%;   // Fixed width: one-third of the row's width
  text-align: right;   // Right-align the label text
  padding-right: 10px; // Add a small gap between label and input
}

.form-row input {
  flex: 1;             // 1: Take up the remaining space
  max-width: unset;    // width fix incompatible avec ligne au dessue
}
*/
.item {
  border-radius: 20px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0.5em 0.6em;
  margin: 10px 5px;
}

.item-1 {
  background-color: #009169;
}

.item-2 {
  background-color: #55b296;
}

.item-3 {
  background-color: #9fd3c3;
}

.item-4 {
  background-color: #e7b013;
}

.item-5 {
  background-color: #073443;
}


