<!-- test saisie complétée avec select-->
<app-autocomplete  (retour)="onRetour($event)"></app-autocomplete>

<!-- test material angular -->
<mat-card [formGroup]="mainForm">
  <mat-card-subtitle>Email</mat-card-subtitle>
  <mat-card class="" [formGroup]="emailForm" >
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>Adresse mail</mat-label>
        <input
        class=""
        type="text"
        aria-label="Adresse mail"
        matInput formControlName="email">
        <mat-error> {{getFormControlErrorText(emailCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre adresse mail</mat-label>
        <input type="text"
        aria-label="confirm mail"
        matInput formControlName="confirm">
        <mat-error> {{getFormControlErrorText(confirmEmailCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showEmailError$ | async">Les deux adresses ne correspondent pas</small>
    <div> TEST {{showEmailError$| async}}</div>
  </mat-card>

  <mat-card class="m-1" [formGroup]="loginInfoForm" >
    <mat-card-subtitle>mot de passe</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field >
        <mat-label>Mot de passe</mat-label>
        <input type="password"
        aria-label="password"
        matInput formControlName="password">
        <mat-error> {{getFormControlErrorText(passwordCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Confirm. mot de passe</mat-label>
        <input type="password"
        aria-label="confirm password"
        matInput formControlName="confirmPassword">
        <mat-error> {{getFormControlErrorText(confirmPasswordCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showPasswordError$ | async">Mots de passe différents</small>
  </mat-card>
</mat-card>

<!-- test éléments basiques -->
<div class="test"> 
  <div class="container">
    <div class="row">
      <label for="item-1">Item un</label>
      <input class="form-ctrl w40px" type="text" aria-label="item-1" id="item-1">
    </div>
    <div class="row">
      <label for="item-2">Item deuxième</label>
      <input class="form-ctrl w100px" type="text" aria-label="item-2" id="item-2">
    </div>
    <div class="row">
      <label for="item-3 w140px">It 3</label>
      <input class="form-ctrl" type="text" aria-label="item-3" id="item-3">
    </div>
  </div>
    <div class="form-row">

  <div class="item item-4">
    Item 4 eme
  </div>
  <div class="item item-5">
    Item 5
  </div>
</div>

<div>container enrichi par fx</div>
<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>   
<div>
  <div class="item item-1">
    Item 1bis fxLayout is a directive used to define the layout of the HTML elements. i.e., it decides the flow of children elements within a flexbox container
  </div>
  <div class="item item-2">
    Item 2bis
  </div>
</div>
  <div class="item item-4">
    Item 4
  </div>
  <div class="item item-5">
    Item 5
  </div>
</div>



