<!-- Modal en cours -->
<div class="modal-open container-fluid" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-content" role="document">
    <div class="modal-header">
      <h6 class="modal-title">Paramètres de liste</h6>
      <button type="button" class="close btn btn-primary bi-reply" 
        aria-label="Close" 
        (click)="goBack()">
      </button>
    </div>
    <form [formGroup]="paramsForm" class="form-group">
      
      <label class="" for="jour">Date:</label>
      <input type= "date" id="jour" formControlName="jour" 
            class="form-control-sm" 
            min="2020-01-01" max="2099-12-31">
      <label for="origine">Vers :</label>
      <select id="origine" name="origine"
        (change)="onOrigineChange($event)"
        formControlName="origine" 
        class="form-control-sm">
        <option value="cuisine">Repas en cuisine</option>
        <option value="camp">Camp Extérieur</option>
        <option value="odIn">Régularisation</option>
      </select>
      <app-camp *ngIf="origine == 'camp'" [(camp)]="camp">
      </app-camp>
      <label for="tva">Tva mtt:</label>
      <select id="tva" name="tva" formControlName="tva" class="form-control-sm">
        <option value="ttc">en TTC</option>
        <option value="ht">en HT</option>
      </select>
      <hr>
      <app-repas></app-repas>
        <!--impossible en 'form' [(ngModel)]="repas"-->
      <div class="modal-footer align-items-center>">
        <label class="small">(vers_{{params.location}})</label>
        <div>
          <label class="relatif40 bi-check" for="ok"></label>
        </div>
        <button id="ok" class="btn btn-primary" (click)="okBack()">
          &nbsp;ok
        </button>
      </div> 
    </form>
  </div>
</div>