<ng-container [formGroup]="formGroup">
<div class="form-row start mb-1 w-100">
  <label for="saisie">Article</label>
    <input class="form-ctrl my-1 w240px"
      id="saisie"
      type="text" 
      [placeholder]="formGroup.controls['myControl'].touched ? '' : 'Saisir le début...'"
      matInput
      formControlName="myControl" 
      [matAutocomplete]="auto">
    <mat-autocomplete 
      class="w-100"
      autoActiveFirstOption
      #auto="matAutocomplete" (optionSelected)="onSelected($event)">
      <mat-option 
        *ngFor="let item of filteredItems$ | async" 
        [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
    <div class="error-message w-100 centrer"
    *ngIf="formGroup.controls['myControl'].hasError('required') 
    && formGroup.controls['myControl'].touched"
    >
      Champ obligatoire !
    </div>
</div>
</ng-container>
