<h6 class= "container left">Sorties de stock</h6>
<h6 class="left">
  <span ng-controller="CtrlParams">
    Le: {{jour}}
    &nbsp;
    <span *ngIf="!(params.origine == 'camp')">{{params.origine}}</span>
    <span *ngIf="params.origine == 'camp'">Vers: '{{params.camp}}'</span>
    &nbsp;
    <span *ngIf="params.origine == 'repas'">Service '{{params.service}}'&nbsp;</span>
    <a class="fas fa-pencil me-1" routerLink="/stocks/params">
      <span class = "small">params</span>
    </a>
  </span>
</h6>

<div class="sortie" *ngIf="selectedMvt " >
    <h4 class="left" >Sortie sélectionnée:</h4>
    <div>
        <label>article /  </label>
        <label for="qte"> qté / </label>
    </div>
    <input class="input" id="art" [(ngModel)]= "selectedMvt.article" placeholder="article">
    <input class="input" id="qte" [(ngModel)]="selectedMvt.qteMouvement" placeholder="qteMouvement">
    <span> {{magasin}} {{rayon}}</span>

</div>
<div class="table-responsive" style="max-width:1000px;">
<table class="table table-striped" >
  <thead class="table-light">
    <tr>
      <th class="col-6">Article</th>
      <th class="col-1">btn</th>
      <th class="col-1">Qté</th>
      <th class="col-1">Coût</th>
      <th class="col-1">Service</th>
      <th class="col-1">Rations</th>
    </tr>
  </thead>
  <tbody>
    <!--appel modal via ts:
    <tr *ngFor="let mvt of mvts;"
    [class.selected]="mvt === selectedMvt"
    (click)="openSortie(mvt)"
    > -->
    <tr *ngFor="let mvt of sorties;">
        <td class="item" routerLink="/sortie/{{mvt.id}}">  {{mvt.article}}</td>
        <td class= "ctnbtn">
          <button type="button" class="btn btn-primary" (click)="openMvt(mvt)">...</button>
        </td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> {{mvt.qteMouvement * -1 | number : '1.0-4'}} </td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> {{mvt.qteMouvement * -1 * mvt.prixUnit | number : '1.0-2'}} </td>
        <td class= "item" routerLink="/sortie/{{mvt.id}}"> {{mvt.service}} </td>
        <td class= "col item" routerLink="/sortie/{{mvt.id}}"> {{mvt.service}} </td>
    </tr>
  </tbody>
</table>
</div>
