* {
  margin: 0px 0px 0px;
 }


.btn {
  font-size: 10px;
  line-height: 0.5;
  padding: 0;
  height: 20px;
  width: 25px;
 }

.jour, .input {
    color: #0a247a;
    background-color: rgb(255, 254, 168);
    font-size-adjust: var() ;
    border-width: 1px;
    border-color: #0a247a
}
.jour {
    width: 120px;
}
.input {
    width: 120px;
    font-size: 1rem;
}

.ctnbtn {
  padding: 1px;
  text-align: right;
}
