<div class= "container no-newline">
  <div class="no-secable">
  <h6 >Sorties de stock :
    &nbsp;
    <span *ngIf="params.origine == 'repas'">pour {{params.origine}} en cuisine</span>
    <span *ngIf="params.origine == 'camp'">pour camp '{{params.camp}}'</span>
    <span *ngIf="!['repas','camp'].includes(params.origine)">{{params.origine}}</span>
  </h6>
  </div>
  <h6  >
    <span class="left-span">
      Le: {{jour}}
      &nbsp;
      <span *ngIf="params.origine == 'repas'">Repas '{{lstservice[params.service].code}}'&nbsp;</span>
    </span>
    <span class="right-span">
      <a class="fas fa-gear fa-lg" routerLink="/stocks/params">
        <span class="small">params</span>
      </a>
      <a class="fas fa-circle-plus fa-lg" routerLink="/stocks/params">
        <span class="small">ajout</span>
      </a>
    </span>
  </h6>
  <div class="table-responsive">
    <table class=" table-striped table" >
    <thead >
      <tr class="center coltitle">
        <th class="col-1 coltitle">-</th>
        <th class="col-7 ">Article</th>
        <th class="col-1 ">Sortis</th>
        <th class="col-2 ">Coût</th>
        <th class="col-1 ">Repas</th>
        <th class="col-1 ">pour</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mvt of sorties;">
        <td class="small" routerLink="/stocks/onesortie/{{mvt.id}}">
          <a class="fas fa-pencil me-1 ctnbtn"></a>
        </td>
        <td class= "small"> {{mvt.article.nom_court}} </td>
        <td routerLink="/sortie/{{mvt.id}}"> {{mvt.qtemouvement * -1 | number : '1.0-2'}} </td>
        <td routerLink="/sortie/{{mvt.id}}"> {{mvt.qtemouvement * -1 * mvt.prixunit | number : '1.2-2'}} </td>
        <td routerLink="/sortie/{{mvt.id}}"> {{mvt.service}} </td>
        <td class= "col" routerLink="/sortie/{{mvt.id}}"> {{mvt.nbrations * 0.5| number : '1.0-2'}} </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>