<mat-card class="main-form">
  <mat-card-title>Mon Compte {{user.username}} </mat-card-title>
  <mat-card-subtitle class="fs-6">Votre situation Noegest?</mat-card-subtitle>
  <mat-radio-group [formControl]="situationCtrl">
    <mat-radio-button value="exist">Compte existant</mat-radio-button>
    <mat-radio-button value="new">Staff</mat-radio-button>
    <mat-radio-button value="info">Info</mat-radio-button>
  </mat-radio-group>


  <div *ngIf=" 'info' === (situationCtrl.value)">
    <app-info></app-info>
  </div>
  <div *ngIf=" 'info' !== (situationCtrl.value)">
    <app-compte  [user]="user" (valid)="onValid($event)"></app-compte>
  </div>

  <mat-card-actions *ngIf=" 'info' !== (situationCtrl.value)">
    <button
    mat-flat-button color="primary"
    type="submit"
    [disabled]="loading || !userFormValid"
    aria-label="Confirm">
      Demande<mat-icon>send</mat-icon>
    </button>
    <a mat-flat-button
    class="fond-soutenu m-3"
    routerLink="../login"
    role="button">
      Abandon
      <mat-icon>reply</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

