<mat-card class="main-form">
  <mat-card-title>Mon Compte {{userValue.username}} </mat-card-title>
  <mat-card-subtitle class="fs-6">Votre situation Noegest?</mat-card-subtitle>
  <mat-radio-group [formControl]="situationCtrl">
    <mat-radio-button value="exist">Compte existant</mat-radio-button>
    <mat-radio-button value="new">Staff</mat-radio-button>
    <mat-radio-button value="info">Info</mat-radio-button>
  </mat-radio-group>

  
  <div *ngIf=" 'info' === (situationCtrl.value)">
    <app-info></app-info>
  </div>
  <div *ngIf=" 'exist' === (situationCtrl.value)">
    <app-compte></app-compte>
  </div>
  <div *ngIf=" 'new' === (situationCtrl.value)">
    <app-compte></app-compte>
  </div>

  <mat-card-actions>
    <button *ngIf=" 'info' !== (situationCtrl.value)"
    mat-flat-button color="primary" 
    type="submit"
    [disabled]="loading || !userFormValid"
    aria-label="Confirm">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Demande<mat-icon>send</mat-icon>
    </button>
    <button mat-flat-button class="fond-soutenu m-3">
        <a routerLink="../login">Abandon<mat-icon>reply</mat-icon></a>
    </button>
  </mat-card-actions>

  <mat-spinner *ngIf="loading" color="primary" mode="indeterminate" > </mat-spinner>
</mat-card>

