<h2>Media Queries</h2>
<p>Resize the browser window.</p>
<div class="card-container">
  
  <a class="card card-small">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
    <span>Add PWA Support</span>
  </a>
  <span class="card card-small">!Learn Angular!</span>
  <a class="card card-small">!CLI Documentation!</a>
  <a class="card card-small">!Learn Angular!</a>
  <span class="card card-small">!CLI Documentation!</span>
  <span class="card card-small">!Learn Angular!</span>
  <span class="card card-small">!CLI Documentation!</span>
</div>


<div class="card-container">
  <span class="card card-small">
    Left Menu
  </span>

  <span class="card card-small">
    Main Content
  </span>

  <span class="card card-small">
    Right Content
  </span>
</div>

<div class="card-container row table-responsive">
  <span class="card card-small">
    <span style = "margin-top: 45px">
      ceci est------------------------------------------------------------------
    </span>
  </span>
  <span class="card card-small">
    ceci est un essai2
  </span>
</div>