
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="" id=zonemenu>
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/home">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/sorties">
            <i class="fas fa-sign-out-alt"></i>
            Sorties
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/entrees">
            <i class="fas fa-sign-in-alt"></i>
            Entrées
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/effectifs">
            <i class="fas fa-users"></i>
            Effectifs
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/prixjournees">
            <i class="fas fa-euro-sign"></i>
            PrixJournée
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/inventaire">
            <i class="fas fa-egg"></i>
            Inventaire
          </a>
        </li>          <li class="nav-item active">
          <a class="nav-link text-white" 
          routerLink="/depart">
            <i class="fas fa-bus"></i>
            KMdépart
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" 
          aria-current="page"
          routerLink="/arrivee">
            <i class="fas fa-bus"></i>
            KMarrivee
          </a>
        </li>
      </ul>
    </span>
    <a class="navbar-brand" id=topright href="#">
      <img src="assets/params/images/noegest.png" width="170" height="40">
    </a>
  </div>
</nav>

