body {
  padding-top: 3rem;
  color: #3F729B;
  background-color: whitesmoke;
  line-height: 0.9;
  margin-left: 2%
}
header {
  position: absolute;
  width: 100%;
  height: 52px;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #3F729B;
}
main {
  margin-top: 0.8rem;
}
footer {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 9pt;
  font-style:italic;
  color: rgb(50,50,120);
  background: rgb(210, 230, 250); 
  padding: 0.2em;
}

label {
  width: 30%;
  padding: 0rem 0.55rem;
  text-align: right;
  font-weight: 400;
  background-clip: padding-box;
  border: 0px solid;
}

input, select, .form-control {
  width: 50%;
  padding: 0rem 0.75rem;
  font-size: 1rem;
  color: #0a247a;
  background-color: lightyellow;
  border: 1px solid #ced4da;
  margin: 3px;

}

:focus, .btn:focus, .form-control:focus {
  color: darkblue ;
  background-color: whitesmoke ;
  border-width: 0px;
  border-color: #02b !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #02b;
  outline: 0 none;
}

.form-control {
  padding: 0rem 0.75rem;
  max-height: 1.5rem;/*limite la marge autour de la police*/
  min-block-size: 1rem;/*limite la marge autour de la police*/
}

.btn-primary {
  color: #02b;
  background: #e6f0fa;                 
}
.btn {
  border-color: rgb(0,32,176,0.3);
  margin: 0;
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.5rem;
 }

.nav-link {
  background-color: gray;
  margin-left: 0.2rem!important;
  padding: 0.7rem 1rem!important;
  border-bottom: 1px solid #999;
  width: 140px;
}

.navbar {
  z-index: 1;
  -webkit-box-shadow: 0 9px 6px -6px #999;
  -moz-box-shadow: 0 9px 6px -6px #999;
  box-shadow: 0 9px 6px -6px #999;
  padding: 0.3rem !important;
}

.navbar-nav {
  margin-top: 4px; /* attention à l'incidence collapse grand écran*/
}

.navbar-expand-md {
  background-color:  rgba(63, 114, 155, 0.55);
}

.navbar-toggler {
  border-width: 2px;
  border-color: white !important;
}
.navbar-toggler:focus  {
  background: #447cd0 ;      
  border-width: 2px;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}

.container-fluid {
  margin-top: 0.3rem;
} 

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 250, 0.06);
}

.table {
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #02b;
  --bs-table-hover-color: black;
  --bs-table-hover-bg: #e6f0fa;
}

.bi-check {
  font-size: 2.5rem; 
  color: green;
}

#ok {
  padding: 0rem 0.5rem 0rem 1.5rem;
}

/* utiliser fixeur pour contenir les positions absolute, dans le contexte*/
.fixeur {
  position: relative;
}

/* utiliser fixe après fixeur pour rester dans son contexte, sinon c'est vraiment absolu*/
.fixe {
  position: absolute;
  top: -33px;
  left: -8px;
}

.small {
  margin-right: 0;
} 

.align-items-end {
  margin-right: 0;
  padding-right: 0;
}