<p>home works!</p>


<main class="bd-main order-1">

    <div class="bd-content ps-lg-4">
    <hr>
    <div class="row mb-1">
        <div class="col-md-12 text-center">
        <h3 class="h6">Choisir l'appli&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card bg-light mb-3">
            <div class="card-header">
            <div class="row">
                <div class="col-10 col-xl-10">
                <h5 class="card-title">Components</h5>
                </div>
                <div class="col-2 col-xl-2">
                <i class="fas fa-share-alt-square fa-lg text-primary"></i>
                </div>
            </div>
            </div>
            <div class="card-body">
            <p class="card-text">Define and control views</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card bg-light mb-3">
            <div class="card-header">
            <div class="row">
                <div class="col-10 col-xl-10">
                <h5 class="card-title">Services</h5>
                </div>
                <div class="col-2 col-xl-2">
                <i class="far fa-address-card fa-lg text-primary"></i>
                </div>
            </div>
            </div>
            <div class="card-body">
            <p class="card-text">A great way to share information among classes</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card bg-light mb-3">
            <div class="card-header">
            <div class="row">
                <div class="col-10 col-xl-10">
                <h5 class="card-title">Directives</h5>
                </div>
                <div class="col-2 col-xl-2">
                <i class="fas fa-text-width fa-lg text-primary"></i>
                </div>
            </div>
            </div>
            <div class="card-body">
            <p class="card-text">Change the appearance or behavior of a DOM element</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card bg-light mb-3">
            <div class="card-header">
            <div class="row">
                <div class="col-10 col-xl-10">
                <h5 class="card-title">Pipes</h5>
                </div>
                <div class="col-2 col-xl-2">
                <i class="fas fa-code fa-lg text-primary"></i>
                </div>
            </div>
            </div>
            <div class="card-body">
            <p class="card-text">Write display-value transformations</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
        <div class="card bg-light mb-3">
            <div class="card-header">
            <div class="row">
                <div class="col-10 col-xl-10">
                <h5 class="card-title">Observables</h5>
                </div>
                <div class="col-2 col-xl-2">
                <i class="far fa-comment-alt fa-lg text-primary"></i>
                </div>
            </div>
            </div>
            <div class="card-body">
            <p class="card-text">Provide support for passing messages between publishers and subscribers</p>
            </div>
        </div>
        </div>
    </div>
    <hr>
    <h3>Angular</h3>
    <p>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source
        web application framework led by the Angular Team at Google and by a community of individuals and
        corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
    </div>

</main>

<div class="footer" style="background-color:#1976d2">
<div class="container">
    <div class="row">
    <div class="col-12">
        <p class="text-center text-white">&copy; 2021 - www.matthania.com</p>
    </div>
    </div>
</div>
</div>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
