<p>home works!</p>


  <div class="container-xxl my-md-4 bd-layout">
    <aside class="bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 py-3 pt-md-1">
          <li class="mb-1">
            <a class="bd-select d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
              href="#getting-started-collapse" role="button" aria-expanded="true" aria-current="true">
              <i class="fas fa-house-user me-1"></i>
              Getting Started
            </a>
            <div class="collapse" id="getting-started-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                    1</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                    2</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                    3</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                    4</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <a class="bd-select d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
              href="#components-collapse" role="button" aria-expanded="true" aria-current="true">
              <i class="fas fa-house-user me-1"></i>
              Components
            </a>
            <div class="collapse" id="components-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Components 1</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Components 2</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Components 3</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Components 4</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <a class="bd-select d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
              href="#forms-collapse" role="button" aria-expanded="true" aria-current="true">
              <i class="fas fa-house-user me-1"></i>
              Forms
            </a>
            <div class="collapse" id="forms-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Forms 1</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Forms 2</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Forms 3</a></li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Forms 4</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <a class="bd-select d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
              href="#directives-collapse" role="button" aria-expanded="true" aria-current="true">
              <i class="fas fa-house-user me-1"></i>
              Directives
            </a>
            <div class="collapse" id="directives-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Directives 1</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Directives 2</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Directives 3</a>
                </li>
                <li><a href="" class="d-inline-flex align-items-center rounded" aria-current="page">Directives 4</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="bd-main order-1">

      <div class="bd-content ps-lg-4">
        <hr>
        <div class="row mb-1">
          <div class="col-md-12 text-center">
            <h3 class="h6">Choisir l'appli&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-10 col-xl-10">
                    <h5 class="card-title">Components</h5>
                  </div>
                  <div class="col-2 col-xl-2">
                    <i class="fas fa-share-alt-square fa-lg text-primary"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Define and control views</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-10 col-xl-10">
                    <h5 class="card-title">Services</h5>
                  </div>
                  <div class="col-2 col-xl-2">
                    <i class="far fa-address-card fa-lg text-primary"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">A great way to share information among classes</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-10 col-xl-10">
                    <h5 class="card-title">Directives</h5>
                  </div>
                  <div class="col-2 col-xl-2">
                    <i class="fas fa-text-width fa-lg text-primary"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Change the appearance or behavior of a DOM element</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-10 col-xl-10">
                    <h5 class="card-title">Pipes</h5>
                  </div>
                  <div class="col-2 col-xl-2">
                    <i class="fas fa-code fa-lg text-primary"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Write display-value transformations</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-10 col-xl-10">
                    <h5 class="card-title">Observables</h5>
                  </div>
                  <div class="col-2 col-xl-2">
                    <i class="far fa-comment-alt fa-lg text-primary"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Provide support for passing messages between publishers and subscribers</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h3>Angular</h3>
        <p>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source
          web application framework led by the Angular Team at Google and by a community of individuals and
          corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
      </div>

    </main>
  </div>

  <div class="footer" style="background-color:#1976d2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2021 - www.matthania.com</p>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>


<p>home works!</p>