<!-- origine: https://coryrylan.com/blog/using-angular-forms-with-async-data-->
<hr>
<form *ngIf="user | async; else loading" [formGroup]="form" (ngSubmit)="submit()">

  <div class="modal-header">
    <h3 class="modal-title">Se connecter</h3>
    <div>
      Pas encore inscrit?
      <a ref="//matthania.com">Créer un compte</a>
    </div>
  </div>

  <label for="mail">
    Adresse mail
  </label>
  <input id="mail"  class="form-control-sm" formControlName="mail" />
  <div *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched" class="error">
    <label></label>
    *Required
  </div>

  <label for="password">
    Mot de passe
  </label>
  <input type= "password" id="password"  class="form-control-sm" formControlName="password" />
  <div *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched" class="error">
    <label></label>
    *Required
  </div>

  <button [disabled]="!form.valid" id="ok" class="btn btn-primary bi-check" type="submit">
    &nbsp;Connexion
  </button>
  <hr>
</form>

<ng-template #loading>
  Loading User...
</ng-template>

