<!--div *ngIf="messageService.messages.length" class="fixed-bottom"-->

<div class="modal-header">
  <h5 class="modal-title">Messages système:</h5>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Fermer</button>
    <button type="button"class="btn btn-info fas fa-trash-alt " (click)="messageService.clear()">&nbsp;Supprimer</button>
  </div>
</div>
<div class="modal-body">        
  <div class="card mvt-border">
    <div class="card-body" *ngFor='let message of messageService.messages'>
      <p class="card-text"> 
        {{message}}
      </p>
    </div>
  </div>
</div>

<!--/div exemple de section conditionnelle-->