<!--div *ngIf="messageService.messages.length" class="fixed-bottom"-->

<div class="modal-header">
  <h5 class="modal-title">Messages système:</h5>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary bi bi-reply" 
      (click)="activeModal.close('Close click')">&nbsp;Fermer</button>
    <button type="button"class="btn btn-primary bi bi-trash " 
      (click)="messageService.clear()">&nbsp;Supprimer</button>
  </div>
</div>
<div class="modal-body">        
  <div class="card mvt-border">
    <div class="card-body" *ngFor='let message of messageService.messages'>
      <p class="card-text"> 
        {{message}}
      </p>
    </div>
  </div>
</div>

<!--/div exemple de section conditionnelle-->