<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form #loginForm [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f['email'].errors }" />
                <div *ngIf=" f['email'].errors['required'] && form.controls['email'].touched">
                <!--div *ngIf="submitted && f['email'].errors" class="invalid-feedback"-->
                    <div  class="error">Adresse mail à saisir</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f['password'].errors }" />
                <div *ngIf="f['password'].errors['required'] && form.controls['password'].touched" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Mot de passe à saisir</div>
                </div>
            </div>                  
            <div class="form-group ">
                <button [disabled]="loading" class="btn btn-primary mt-3 ms-3">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    GO
                </button>
                <div class="formGroup mt-1">
                    <a routerLink="../register" class="btn btn-link btn-light link">Créer un compte</a>
                    <a routerLink="../layout" class="btn btn-link btn-light link">Mot de passe oublié</a>
                </div>
            </div>

        </form>
    </div>
</div>