<mat-card class="m-1 mt-4">
  <mat-card-title class="row ">
    <h2>Filtres d'affichage</h2>      
  </mat-card-title>
  <mat-content [formGroup]="paramsForm" 
  class="form-grp"
  (ngSubmit)="onSubmit()">
    <div class="form-row start my-1"  >
      <label for="jour">Date:</label>
      <input
        class="form-ctrl"
        type= "date" id="jour" name="jour"
        formControlName="jour"
        min="2020-01-01" max="2050-12-31"
        [ngClass]="{ 'is-invalid': f['jour'].errors}">
      <div *ngIf="f['jour'].errors" class="invalid-feedback">
        <div *ngIf="f['jour'].errors">
          Choisissez une date ou abandonnez!
        </div>
      </div>
    </div>
    <div class="form-row start">  
      <label for="origine">Vers :</label>
      <select id="origine" name="origine"
        class="form-ctrl"
        (change)="onOrigineChange()"
        formControlName="origine"
        required aria-label="origine">
        <option [ngValue]="'-'" disabled>Filtrer les mouvements pour :</option>
        <option *ngFor="let origine of lstorigine"
          [ngValue]="origine['code']">
          {{origine['libelle']}}
        </option>
      </select>
      <span></span>
    </div>
    <div class="form-row start" *ngIf="(f['origine'].value === 'camp')">
      <label for="camp">Camp:</label>
      <select id="camp" name="camp" 
        class="form-ctrl"
        required aria-label="camp"
        [ngClass]="{ 'is-invalid': submitted && f['camp'].errors}">
        <option [ngValue]="" disabled>Choisir un camp</option>
        <option *ngFor="let camp of camps"
          [ngValue]="camp.id">
          {{camp['nom']}}
        </option>
      </select> 
      <div *ngIf="submitted && f['camp'].errors" class="invalid-feedback" id="camp">
        <div *ngIf="f['camp'].errors['required']">Choisissez un camp extérieur ou choisissez une autre destination</div>
      </div>
    </div>
    <div class="form-row start" *ngIf="(f['origine'].value === 'repas')">
      <label for="service">Repas:</label>
      <select formControlName="service"
        class="form-ctrl w200px"
        id="service" name="service"
        required>
        <option [ngValue]="" disabled>Lignes pour les services :</option>
        <option *ngFor="let service of lstservice"
          [ngValue]="service.code">
          {{service.libelle}}
        </option>
      </select>
      <div *ngIf="submitted && f['service'].errors" class="invalid-feedback" id="service">
        <div *ngIf="f['service'].errors['required']">Choisissez un service de repas ou 'pour tout'   
        </div>
      </div>
    </div>
    <div class="form-row start" *ngIf="(parentName.endsWith('entrees'))">
      <label for="tva">Tva mtt:</label>
      <select id="tva" name="tva" 
        class="form-ctrl w200px"
        formControlName="tva">
        <option value="ttc">en TTC</option>
        <option value="ht">en HT</option>
      </select>
      <label for="fournisseur">Fournisseur :</label>
      <select id="fournisseur" name="fournisseur" 
        class="form-ctrl w200px" 
        formControlName="fournisseur"
        required aria-label="fournisseur">
        <option *ngFor="let fournisseur of fournisseurs"
          [ngValue]="fournisseur['id']">
          {{fournisseur['nom']}}
        </option>
      </select>
    </div>
  </mat-content>
</mat-card>