<div class="card">
  <h5 class="card-header">Paramètres de liste</h5>
  <button type="button" class="close btn btn-primary bi-reply" 
    aria-label="Close" 
    (click)="okBack()">
    retour
  </button>
</div>
<form [formGroup]="paramsForm" class="form-group was-validated"  
(ngSubmit)="onSubmitForm()"> 
  <label for="jour">Date:</label>
  <input type= "date" id="jour" formControlName="jour" 
        class="form-control" 
        min="2020-01-01" max="2099-12-31">
  <label for="origine">Vers :</label>
  <select id="origine" name="origine"
    (change)="onOrigineChange($event)"
    formControlName="origine" 
    class="form-control" required aria-label="select example">
    <option value="">Choisissez</option>
    <option value="cuisine">Repas en cuisine</option>
    <option value="camp">Camp Extérieur</option>
    <option value="odIn">Régularisation</option>
  </select>
  <label class="invalid-feedback">!!! mauvais choix </label>

  <label for="camp">Camp:</label>
  <select formControlName="camp"
    *ngIf="origine == 'camp'"
    class="form-control" required>
    <option [ngValue]="" disabled>Choisir un camp</option>
    <option *ngFor="let camp of camps" 
      [ngValue]="camp.id">
      {{camp.libelle}}
    </option>
  </select>

  <label for="tva">Tva mtt:</label>
  <select id="tva" name="tva" formControlName="tva" class="form-control">
    <option value="ttc">en TTC</option>
    <option value="ht">en HT</option>
  </select>

  
  <label for="repas">Repas:</label>
  <select formControlName="repas"
    class="form-control" required>
    <option [ngValue]="" disabled>destination</option>
    <option *ngFor="let repas of lstrepas" 
      [ngValue]="repas.code">
      {{repas.libelle}}
    </option>
  </select>

</form>
