<p>kmdepart works!</p>
<p>kmdepart works!</p>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav"
aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="container-xxl my-md-4 bd-layout">
  <aside class="bd-sidebar">
    <nav class="bd-links" id="bd-docs-nav" aria-label="Docs navigation">
      <ul class="list-unstyled mb-0 py-3 pt-md-1">
        <li class="mb-1">
          <a class="bd-select d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
            href="#getting-started-collapse" role="button" aria-expanded="true" aria-current="true">
            <i class="fas fa-house-user me-1"></i>
            Getting Started
          </a>
          <div class="collapse" id="getting-started-collapse">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/depart" href="sorties" class="d-inline-flex align-items-center rounded" aria-current="page">
                Getting Started 1</a>
              </li>
              <li><a routerLink="/depart" href="entree" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                  2</a></li>
              <li><a routerLink="/depart" href="depart" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                  3</a></li>
              <li><a routerLink="/depart" href="arrivee" class="d-inline-flex align-items-center rounded" aria-current="page">Getting Started
                  4</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </aside>
</div>



<p>kmdepart works!</p>
