.fond-sombre {
  color: white;
  background-color:  #3f729b;
}

i {
  color: whitesmoke;
  background-color: #3f729b;
}

.ombre {
  border: 1;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}

.bi {
  color: white !important;
  font-size: 18px; 
  min-width: 27px;
}

.navbar  {
  z-index: 1;
  padding: 0;
  -webkit-box-shadow: 0 9px 6px -6px #999;
  box-shadow: 0 9px 6px -6px #999;
}

.nav-link {
  padding: 10px;
  vertical-align: middle;
  color: white;
}

.navbar-toggler{
  padding: 0 2px;
  border-width: 2px;
  border-color: white !important;
  min-height: 30px;
}

.navbar-toggler:focus  {
  background: #447cd0 ;
  border-width: 2px;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}

.navbar-toggler-icon {
  height: 30px;
  width: 25px;
}
.navbar-nav .nav-item {
  color: white;
  font-weight: 400;
  border-bottom: 1px solid;
}

