<!--icones bootstrap   i class="bi bi-alarm" style="font-size: 2rem; clogoolor: cornflowerblue;"></i-->

<header class="sticky-top navbar-dark fond-sombre">
  <div class="">
    <nav class="navbar flex-wrap m-0 py-0 px-1" aria-label="Main navigation">
      <button type="button m-1"
      id="btnhome"
      (click)="home()"
      class="btn btn-outline-light m-1 m-sm-2 p-0"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
      <div id="titre">
        <a routerLink="/"
          class="navbar-brand fw-bold"
          alt="Accueil">
          <img class="mx-1 my-sm-2" src="assets/images/noegest@2x.png"
          srcset="assets/images/noegest@1x.png,
          assets/images/noegest@2x.png"
          alt="Logo">
        </a>
        <span class="text-white m-1 m-sm-2">{{namemodule}}</span>
      </div>

      <!-- aria-expanded="false" -->
      <button #navbarCollapse id='toggler' type="button"
      class="btn navbar-toggler  btn-outline-light m-1 m-sm-2"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isNavbarCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbar"
      aria-label="Toggle navigation"
      >
        <i class="bi bi-list"></i>
      </button>

      <!-- Menu déroulant -->
      <div
          class=" collapse navbar-collapse"
          id="navbarCollapse"
          toggle="collapse"
          data-target=".navbar-collapse"  >
        <ul class="col-auto navbar-nav" id="home">
          <li class="nav-item">
            <a class="nav-link bi"
            routerLink="/" href="#"
            >
              <i class="bi bi-house-up-fill me-1"></i>
              Home
            </a>
          </li>
        </ul>
        <span class="col-auto navbar-nav" 
        *ngIf="namemodule === 'stocks' || namemodule === '-'">
          <ul class="col-auto navbar-nav" id="menustock">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/sorties">
                <i class="bi bi-box-arrow-right"></i>
                Sorties
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/entrees">
                <i class="bi bi-box-arrow-in-right bi-3x"></i>
                Entrées
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/effectifs">
                <i class="bi bi-people-fill"></i>
                Effectifs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/prixjournees">
                <i class="bi bi-currency-euro"></i>
                PrixJour
              </a>
            </li>
              <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/inventaire">
                <i class="bi bi-list-ol"></i>
                Inventaire
              </a>
            </li>
          </ul>
        </span>
        <span class="col-auto navbar-nav" *ngIf="namemodule === 'kms'">
          <ul class="col-auto navbar-nav"id="menukms">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/kms/depart">
                <i class="bi bi-car-side"></i>
                KMdépart
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/kms/arrivee"
              >
                <i class="bi bi-car"></i>
                KMarrivee
              </a>
            </li>
          </ul>
        </span>
        <span class="col-auto navbar-nav">
          <ul class="col-auto navbar-nav" id="logout">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/account/register">
              <mat-icon>person</mat-icon>
               Mon Compte <span class="text-white m-1 m-sm-2">{{username}} </span>
              </a>
            </li>
          </ul>
        </span>
        <span class="col-auto navbar-nav">
          <ul class="col-auto navbar-nav" id="logout">
            <li class="nav-item">
              <a class="nav-link bi"
              (click)="logout()"
              routerLink="/admin/logout"
              >
                <i class="bi bi-person-badge"></i>
                {{ isLoggedIn ? 'Logout' : 'Login' }}
              </a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
  </div>
</header>
