<!--icones bootstrap   i class="bi bi-alarm" style="font-size: 2rem; clogoolor: cornflowerblue;"></i-->

<header class=" navbar-dark fond-sombre sticky-top" >
  <nav class="navbar m-0 py-0 px-1" id="navbar" aria-label="Main navigation">
    <button type="button"
    id="btnhome"
    (click)="home()"
    class="btn m-1 m-sm-2 p-0"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    aria-label="Go home"
    >
      <i class="bi bi-arrow-left"></i>
    </button>
    <div class="col-lg-10">
      <a routerLink="/"
        class="titre navbar-brand fw-bold"
        alt="Accueil">
        <img class="mx-1 my-sm-2" src="assets/images/noegest@2x.png"
        srcset="assets/images/noegest@1x.png,
        assets/images/noegest@2x.png"
        alt="Logo">
      </a>
      <span class="titre texte-clair m-1 m-sm-2">{{namemodule}}</span>
    </div>

    <div class="menu col-12 col-lg-3">
      <!-- Bouton-menu -->
      <button #navbarCollapse id='toggler' type="button"
      class="btn navbar-toggler m-1 m-sm-2"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isNavbarCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbar"
      aria-label="Toggle navigation"
      >
        <i class="bi bi-list"></i>
      </button>

      <!-- Menu déroulant -->
      <div
          class="collapse navbar-collapse"
          id="navbarCollapse"
          toggle="collapse"
          data-target=".navbar-collapse"  >
        <ul class=" navbar-nav" id="home">
          <li class="nav-item">
            <a class="nav-link bi"
            routerLink="/" href="#"
            >
              <i class="bi bi-house-up-fill me-1"></i>
              Home
            </a>
          </li>
        </ul>
        <span class=" navbar-nav" 
        *ngIf="namemodule === 'stocks' || namemodule === '-'">
          <ul class=" navbar-nav" id="menustock">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/sorties">
                <i class="bi bi-box-arrow-right"></i>
                Sorties
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/entrees">
                <i class="bi bi-box-arrow-in-right bi-3x"></i>
                Entrées
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/effectifs">
                <i class="bi bi-people-fill"></i>
                Effectifs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/prixjournees">
                <i class="bi bi-currency-euro"></i>
                PrixJour
              </a>
            </li>
              <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/stocks/inventaire">
                <i class="bi bi-list-ol"></i>
                Inventaire
              </a>
            </li>
          </ul>
        </span>
        <span class=" navbar-nav" *ngIf="namemodule === 'kms'">
          <ul class=" navbar-nav"id="menukms">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/kms/depart">
                <i class="bi bi-car-side"></i>
                KMdépart
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/kms/arrivee"
              >
                <i class="bi bi-car"></i>
                KMarrivee
              </a>
            </li>
          </ul>
        </span>
        <span class=" navbar-nav">
          <ul class=" navbar-nav" id="logout">
            <li class="nav-item">
              <a class="nav-link bi"
              routerLink="/register">
              <!--mat-icon>person</mat-icon-->
                <span class="text-white m-1 m-sm-2"> Mon Compte {{username}}</span>
              </a>
            </li>
          </ul>
        </span>
        <span class=" navbar-nav">
          <ul class=" navbar-nav" id="logout">
            <li class="nav-item">
              <a class="nav-link bi"
              (click)="logout()"
              routerLink="/admin/logout"
              >
                <i class="bi bi-person-badge"></i>
                {{ isLoggedIn ? 'Logout' : 'Login' }}
              </a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>
  <div class="custom-vh">
    <app-subheader></app-subheader>
  </div>
</header>
