.navbar-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    position: fixed;
    top: 0;/* Position fixe hauteur */
    left: 0;
    right: 0;
    background-color:  #3f729b;
  }

.navbar {
  z-index: 1;
  -webkit-box-shadow: 0 9px 6px -6px #999;
  -moz-box-shadow: 0 9px 6px -6px #999;
  box-shadow: 0 9px 6px -6px #999;
}

.navbar-toggler{
  padding: 0 3px;
  border-width: 2px;
  border-color: white !important;
}

.navbar-toggler:focus  {
  background: #447cd0 ;
  border-width: 2px;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}

.navbar-toggler-icon {
  height: 30px;
  width: 25px;
}
.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  border-top: 1px solid #09238d;
  border-bottom: 1px solid #09238d;
}

.navbar-nav .nav-item .nav-link:hover {
  color: yellow;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #09238d;
  margin-bottom: 5px;
}

.nga-navbar-logo {
  font-weight: 700;
}

.nga-navbar-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nav-link {
  margin-left: 0.2rem!important;
  padding: 0.7rem 0rem!important;
  border-bottom: 1px solid #999;
  width: 90px;
  font-size: 14px;
}

.nav-item {
  background-color: #235680;
  max-width: 200px;
}

.navbar-nav {
  margin-top: 0; /* attention à l'incidence collapse grand écran*/
}


.nga-navbar {
  background: #3f729b ;
}

.container {
  margin-left: 0;
  margin-right: 5px;
  min-width: 360px;
  max-width: 1000px;
  
}

.btn {
  min-width: 140px !important;
}

.logout {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-right: 6px;
  background-color: #3f729b;
}

i {
  color: whitesmoke;
  background-color: #3f729b;
}
.ombre {
  border: 1;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}