@media (max-width: 576px) {
  .custom-vh { height: auto; }
}

@media (min-width: 576px) {
  .custom-vh { height:calc(100vh - 100px) }
}

@media (min-width: 992px) {
  .custom-vh { height: auto; }
  } 


i {
  color: whitesmoke;
}

.bi { 
  color: whitesmoke;
  font-size: 16px; 
  min-width: 27px;
}

.border {
  border-width: 1px;
  border-color: white !important;
}

.titre {
  min-width: 160px;
}

.navbar  {
  z-index: 1;
  -webkit-box-shadow: 0 9px 6px -6px #999;
  box-shadow: 0 9px 6px -6px #999;
  align-items: first baseline;
}

.navbar-toggler {
  padding: 0;
  border-width: 1px;
  border-color: white !important;
  background-color: var(--fond-sombre);
  min-height: 30px;
  position: fixed;
  top: 0px;
  left: 45px;
}

.navbar-collapse {
  position: static
}

.menu {
  position: static;
  top: 50px;
  right: 25px;
  background: var(--fond-sombre)
}

.navbar-toggler:focus  {
  background: var(--fond-sombre);
  border-width: 2px;
  border-color: whitesmoke!important;
  box-shadow: 0px 0px 15px white;
}

.navbar-nav .nav-item {
  color: white;
  font-weight: 400;
  border-bottom: 1px solid;
}

