<!--icones bootstrap   i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i-->
<!--icones fontawesome i class="fas fa-left-long fa-1x"></i-->

<header class="fixed-top fond-sombre">
  <div class="row p-0 g-0 align-items-top ombre">
    <div class="col-2 col-sm-1 ">
      <button type="button" id="btnhome" (click)="home()"
          class="btn ms-1 mt-2 btn-outline-light" 
          data-bs-toggle="tooltip"
          data-bs-placement="right">
        <i class="fas fa-left-long fa-1x"></i>
      </button>
    </div>
    <div class="col-10 col-sm-11 pl-0 ">
      <nav class="navbar navbar-expand-md navbar-dark  flex-wrap" aria-label="Main navigation">
        <div class="container ms-0" id="navcontainer">
          <div container id="titre">
            <a routerLink="/" 
              class="navbar-brand fw-bold" 
              alt="Accueil">
              <img src="assets/images/noegest@1x.png"
              srcset="assets/images/noegest@2x.png,
              assets/images/noegest@1x.png" 
              width="170" height="40" alt="Logo">
            </a>
            <span class="text-white">{{choixAppli}}</span>
          </div>

          <!-- aria-expanded="false" -->
          <button #navbarCollapse id='toggler' type="button" 
              class="btn navbar-toggler  ombre btn-outline-light mt-0 me-1"

              (click)="toggleNavbar()"
              [attr.aria-expanded]="!isNavbarCollapsed" 

              data-bs-toggle="collapse" 
              data-bs-target="navbarCollapse"
              aria-controls="navbar"
              aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>      
        </div>

        <!-- Menu déroulant -->  
        <div *ngIf="isNavbarCollapsed" 
            class="navbar-collapse col col-lg-9" 
            id="navbar" 
            toggle="collapse" 
            data-target=".navbar-collapse"  >
          <ul class="col-auto navbar-nav" id="home">
            <li class="nav-item">
              <a class="nav-link" 
              aria-current="page"
              (click)="collapseNavbar()" 
              routerLink="/" href="#">
                <i class="fas fa-home me-1"></i>
                Home
              </a>
            </li>
          </ul>
          <span class="col-auto navbar-nav" *ngIf="choixAppli === 'stocks' || choixAppli === '-'">
            <ul class="col-auto navbar-nav" id="menustock">
              <li class="nav-item">
                <a class="nav-link"
                    (click)="collapseNavbar()"
                    routerLink="/stocks/sorties">
                  <i class="fas fa-arrow-left"></i>
                  Sorties
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                routerLink="/stocks/entrees">
                  <i class="fas fa-arrow-right"></i>
                  Entrées
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                routerLink="/stocks/effectifs">
                  <i class="fas fa-people-group"></i>
                  Effectifs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                routerLink="/stocks/prixjournees">
                  <i class="fas fa-euro-sign"></i>
                  PrixJour
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                routerLink="/stocks/inventaire">
                  <i class="fas fa-list-ol"></i>
                  Inventaire
                </a>
              </li>          
            </ul>
          </span>      
          <span class="col-auto navbar-nav" *ngIf="choixAppli === 'kms'">
            <ul class="col-auto navbar-nav"id="menukms">
              <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                routerLink="/kms/depart">
                  <i class="fas fa-car-side"></i>
                  KMdépart
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                (click)="collapseNavbar()"
                aria-current="page"
                routerLink="/kms/arrivee">
                  <i class="fas fa-car"></i>
                  KMarrivee
                </a>
              </li>
            </ul>
          </span>
          <span class="col-auto navbar-nav">
            <ul class="col-auto navbar-nav" id="logout">
              <li class="nav-item">
                <a class="nav-link" 
                aria-current="page" 
                (click)="collapseNavbar()"
                routerLink="/admin/logout" >
                  <i class="fas fas fa-sign-out-alt"></i>
                  Logout
                </a>
              </li>
            </ul>
          </span>
        </div>
      </nav>
    </div>
  </div>
</header>