   /* You can add global styles to this file, and also import other style files */
/* Use a media query to add a break point at xxxpx: */
@media screen and (max-width: 800px) {
  .main {
      width: 100%; /* The width is 100%, when the viewport is small */
  }
}
/* couleurs html choisies via libreoffice*/
:root {
  --fond-soutenu: #c5c5ff;
  --fond-titre: #e8e8e8;
  --fond-ecran: whitesmoke;
  --fond-blanc: #ffffff;
  --fond-sombre: #3f729b;
  --fond-saumon: navajowhite;
  --fond-rose: mistyrose;
  --fond-primary: #673ab7;
  --fond-primary-clair: #c5c5ff;
  --texte-clair:  cornflowerblue;
  --texte-sombre:  #09238D;
}

.fond-ecran {background-color: var(--fond-ecran) !important;}
.fond-box { background-color: var(--fond-blanc) !important;}
.fond-titre { background-color: var(--fond-titre) !important;}
.fond-soutenu {background-color: var(--fond-soutenu) !important;}
.fond-saumon { background-color: var(--fond-saumon)!important;}
.fond-rose {background-color: var(--fond-rose)!important;}
.fond-sombre {
  color: white;
  background-color:  var(--fond-sombre) !important;
}
.fond-primary { 
  background-color: var(--fond-primary)!important;
  color:white
}
.fond-primary-clair { 
  background-color: var(--fond-primary-clair)!important;
  color: var(--texte-sombre);
}

.texte-clair {color: var(--texte-clair)}
.texte-sombre {color: var(--texte-sombre)}

.white {color: white}
.whitesmoke {color: whitesmoke}

.ombre { box-shadow: 0 9px 6px -6px  #999;}

body {
  max-width: 1000px;
  background-color: var(--fond-ecran);
  font-weight: 400;
  color: var(--texte-sombre)!important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  margin: 0;
}

html, body { height: 100%; }

main {
  margin: 10px 0 0 0;
  padding: 4px;
  width: 100%;
}

input, select { 
  max-width: 300px;
  min-height: 1.55rem;
  font-size: 1.05rem
}

label { margin: 7px 0 2px 8px; }

.full-width {
  width: 96%!important;
  margin-left: 2%;
}

.app-container {
  min-height: 350px;
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

}

.card-container .card:not(:last-child) {
  display: flex;    
  flex-direction: row;
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  box-shadow: 0 9px 6px -6px #999;
  /*box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);*/

}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card {
  flex-flow: row wrap;
  align-content: start;
  justify-content: center;
  background-color: var(--fond-blanc);
  color: var(--texte-sombre);
  margin-top: 10px;
}

.card-header {
  flex-direction: column;
}

.card-body {
  padding: 4px;
}
.card.card-small {
  max-width: 280px;
  /*flex: 5 200px;*/
  margin: 5px;
}

.card.highlight-card {
  background-color: var(--fond-soutenu);
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.short {
  max-width: 170px;
}

.bloc-expand {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.expand {  /* pour un div dans un container à position relative*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  margin-top: 5px;
  max-width: 110px;
  min-width: 30px;
  border-width: 1px;
  border-color: whitesmoke;
}

.btn:focus  {
  border-width: 2px;
  border-color: whitesmoke;
  box-shadow: 0px 0px 15px white;
}

form {
text-align: start;
}

.form-group {
   margin: 0.5rem 0.3rem;
}

.form-control {
   font-size: 1.05rem;
   padding: 1px 6px ;
   line-height: 1;
}

.table>:not(caption)>*>* {
  color: var(--texte-sombre);
  text-align: right;
}

td {
  padding: 0.2rem!important;
  vertical-align: middle;
}
.spacer { flex: 1; }

.justified {
  display: flex;
  justify-content: space-between;
}
.left-span { order: 1; }

.middle-span { order: 2; }

.right-span { order: 3; }

.small12 {
  font-family: "Times new roman";
  font-size: 12px;
}

.small10 {
  font-family: "Times new roman";
  font-size: 10px;
}

.center { 
  text-align: center!important;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.right { 
  text-align: right!important;
  justify-content: right;
  justify-items: right;
  align-content: right;
  align-items: right;
}
.left { text-align: left!important; }
.start { justify-content: start !important;}
.end   { justify-content: end   !important;}

.no-newline { display: inline-block; }

.no-secable { white-space: nowrap; }

.bi {
  font-size: 1rem; 
}

// openClassRoom pour material

mat-form-field {
  width: 96%;
  margin-left: 2% ;
  margin-right: 2% ;
  max-width: 220px;
  &.full-width {
    width: 100%;
  }
}

.form-field { /* Utilisable avec label ou subtitle pour harmoniser avec formfield */
  width: 96%;
  margin-left: 2% !important;
  margin-right: 2% !important ;
  max-width: 220px;
}

mat-form-field .mat-mdc-form-field-infix {
  min-height: 33px !important; /* hauteur de la partie grisée - adjust the height as needed */
  padding: 0 !important;
  // ce top se cumule avec le suivant et permet d'écarter les deux noms du field avec ou sans contenu
  top: 5px;
  vertical-align: bottom;
}
// Nom du field qui monte lors de l'imput
mat-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  vertical-align: bottom;
  top: 8px;
}

mat-form-field .mdc-text-field {
  padding:  2px;
}

// custom Input  in formfield
.inputField {
  padding: 6px 0 0 4px !important;
}

// custom position mat-flat-button
.mat-mdc-button .mat-mdc-button-touch-target, .mat-mdc-unelevated-button .mat-mdc-button-touch-target, .mat-mdc-raised-button .mat-mdc-button-touch-target, .mat-mdc-outlined-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 20px !important;
  height: 20px;
  left: 0;
  right: 0;
}

// custom affichage d'erreurs formfield
.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  line-height: 13px !important;
  height: 13px !important;
  vertical-align: text-bottom;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card-title {
  display: flex;
  justify-content: space-evenly;
  width:100%;
  background-color: var(--fond-titre);
  color: var(--texte-sombre) !important;
}

mat-card-subtitle {
  display: flex;
  justify-content: space-evenly;
  width:100%;
  color: var(--texte-sombre) !important;
}

mat-card {
  max-width: 650px
}

mat-card-actions {
  text-align: center;
}

.main-form {
  padding-bottom: 10px;
  position: relative;
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4px 0;
}

.loading {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: inherit;
  z-index: 10;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: red;
}
