/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.btn-primary:disabled {
    color: rgb(0, 0, 125, 0.8);
    background: lightgray;               
  }

.error {
    color: red;
    font-size: 80%;
    font-weight: 500 ;

}

.link {
    font-size: 80%;
    float: right;
    padding: 0 4px 2px 4px;
    text-decoration: underline;
}
  