


/* You can add global styles to this file, and also import other style files */
/* Use a media query to add a break point at xxxpx: */
@media screen and (max-width: 800px) {
  .main {
      width: 100%; /* The width is 100%, when the viewport is small */
  }
}
/* couleurs html choisies via libreoffice*/
:root {
  --fond-soutenu: #c5c5ff;
  --fond-titre: #e8e8e8;
  --fond-ecran: whitesmoke;
  --fond-blanc: #ffffff;
  --fond-sombre: #3f729b;
  --fond-saumon: navajowhite;
  --fond-saisie: rgb(232, 240, 254);
  --mdc-filled-text-field-container-color:rgb(232, 240, 254);
  --fond-rose: mistyrose;
  --fond-primary: #673ab7;
  --fond-primary-clair: #c5c5ff;
  --texte-clair:  cornflowerblue;
  --texte-sombre:  #09238D;
  --texte-gris: rgb(0,0,0,0.54);
  --texte-link: #0d6efd;
  --max-width-field: 210px;
  --mdc-filled-button-label-text-color:#09238D;
}

.fond-ecran { background-color: var(--fond-ecran) !important;}
.fond-saisie { background-color: var(--fond-saisie) !important;}
.fond-box { background-color: var(--fond-blanc) !important;}
.fond-titre { background-color: var(--fond-titre) !important;}
.fond-soutenu {
  background-color: var(--fond-soutenu) !important;
  color: vat(--texte-sombre)
}
.fond-saumon { background-color: var(--fond-saumon)!important;}
.fond-rose {background-color: var(--fond-rose)!important;}
.fond-sombre {
  color: white;
  background-color:  var(--fond-sombre) !important;
}
.fond-primary {
  background-color: var(--fond-primary)!important;
  color:white
}
.fond-primary-clair {
  background-color: var(--fond-primary-clair)!important;
  color: var(--texte-sombre);
}

.texte-clair  {color: var(--texte-clair)!important}
.texte-sombre {color: var(--texte-sombre)!important}
.texte-gris   {color: var(--texte-gris)!important}
.link {
  color: var(--texte-link);
  text-decoration: underline;
}
.white {color: white}
.whitesmoke {color: whitesmoke}

.ombre { box-shadow: 0 9px 6px -6px  #999;}

body {
  max-width: 1000px;
  background-color: var(--fond-ecran);
  font-weight: 400;
  color: var(--texte-sombre);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html, body { height: 100%; }

main {
  margin: 10px 0 0 0;
  padding: 4px;
  width: 100%;
}

input, select {
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 1.4s ease-in-out;
  margin-left: 1%;
  margin-right: 1%;
  padding: 5px;
  min-height: 1.55rem;
  font-size: 1.05rem;
  color: var(--texte-gris);
  background-color: var(--fond-saisie);
}
// Focus Effect 
input:focus-visible, select:focus-visible {
  outline: rgb(0, 98, 128);
  outline-width: 5px;
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.5);
  background-color: whitesmoke;
}

label {
  margin: 7px 5px 2px 5px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  mat-form-field {
    margin: 0 0.3rem 0.5rem 0.3rem;
    max-width: var(--max-width-field);
  }
}

.app-container {
  min-height: 350px;
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

}

.card-container .card:not(:last-child) {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  box-shadow: 0 9px 6px -6px #999;
  /*box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);*/

}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card {
  flex: 1;
  align-content: flex-start;
  justify-content: center;
}

.card-header {
  flex-direction: column;
}

.card-body {
  padding: 4px;
}
.card.card-small {
  max-width: 280px;
  margin: 5px;
}

.card.highlight-card {
  background-color: var(--fond-soutenu);
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.short {
  max-width: 170px;
}

.bloc-expand {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.expand {  /* pour un div dans un container à position relative*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w20px { width: 20px; max-width: 20px;}
.w40px { width: 40px; max-width: 40px;}
.w60px { width: 60px; max-width: 60px;}
.w80px { width: 80px; max-width: 80px;}
.w100px { width: 100px; max-width: 100px;}
.w120px { width: 120px; max-width: 120px;}
.w140px { width: 140px; max-width: 140px;}
.w160px { width: 160px; max-width: 160px;}
.w180px { width: 180px; max-width: 180px;}
.w200px { width: 200px; max-width: 200px;}

.btn {
  margin-top: 5px;
  min-width: 30px;
  border-width: 1px;
  border-color: var(--texte-link);
}

.btn:focus  {
  border-width: 2px;
  border-color: whitesmoke;
  box-shadow: 0px 0px 15px white;
}

.form-grp {
  display: flex;
  flex-flow: column wrap;
  margin: 0.5rem 0.3rem;
  width: 100%;
  gap: 4%;
}

/*----- ctrl gérés en form-row -----*/
@media (max-width: 250px) {
  .form-row {
    flex-direction: column;
    align-items: flex-start !important;
    label {
      width: 100%;
      text-align: left;
      justify-content: flex-start;
    }
    input {
      width: 100% !important;
    }
  }
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center; // Ensure proper alignment
  justify-content: center;
  margin: 0 0.3rem 0.5rem 0.3rem;
  label {
    display: flex;
    flex: 1 1 auto; // Allow the label to shrink first
    max-width: 30%; // Set a max-width so it shrinks first
    width:  30%;
    color: var(--texte-gris);
    margin-right: 8px;
    justify-content: flex-end;
  }
  input {
    display: flex;
    flex: 9 9 auto; // Inputs should shrink less aggressively than labels
    min-width: 0; // Allows input to shrink properly
    }
  select {
    display: flex;
    flex: 9 9 auto; // Inputs should shrink less aggressively than labels
    min-width: 0; // Allows input to shrink properly
   }
  span {
    display: flex;
    flex: 1 5 auto;
    min-width: 0;
    max-width: 20%; // Set a max-width so it shrinks first
    width:  20%;;
  }
  button {
    span {
      display: block;
      max-width: unset;
      align-items: center;
      align-content: center;
    }
    a {
      display: flex;
    }
  }
}

.form-ctrl {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.05rem;
  padding: 1px 3px ;
  line-height: 1;
  background-color: var(--fond-saisie);
  --mdc-filled-text-field-container-shape: 5px;
  border-width: 0 0 1px 0;
  border-top-left-radius: var(--mdc-filled-text-field-container-shape);
  border-top-right-radius: var(--mdc-filled-text-field-container-shape);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: var(--texte-sombre) ;
}

//----------- fin ctrl géré en form-row ----

.table>:not(caption)>*>* {
  color: var(--texte-sombre);
  text-align: right;
}

td {
  padding: 0.2rem;
  vertical-align: middle;
}
.spacer { flex: 1; }

.justified {
  display: flex;
  justify-content: space-between;
}
.left-span { order: 1; }

.middle-span { order: 2; }

.right-span { order: 3; }

.small12 {
  font-family: "Times new roman";
  font-size: 12px;
}

.small10 {
  font-family: "Times new roman";
  font-size: 10px;
}

.centrer-block {
  display: block;
  margin: auto;
  text-align: center;
}

.centrer {
  //margin: auto;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.right {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.left { text-align: left; }

.start {
  display: flex;
  justify-content: flex-start;}

.end   {
  display: flex;
  justify-content: flex-end;}

.evenly {
  justify-content: space-evenly;
}
.form-row.evenly {
  margin: 0;
}

.no-newline { display: inline-block; }

.no-secable { white-space: nowrap; }

.bi {
  font-size: 1rem;
}

.main-form {
  padding-bottom: 10px;
  position: relative;
}

.loading {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: inherit;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 12px;
}

/*-------  personalisation  mat-form-field --------------*/
mat-form-field {
  height: 60px; // Set fixed height 
  transform: translateY(-30px) !important;
  margin-left: 2% ;
  align-content: flex-start;
  label {
    width: 100%;
    max-width: unset;
  }
  input {
    font-size: 14px !important;
    white-space: normal;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
  //background-color: rgb(219, 119, 158) !important;
  position: relative;
  top: -2px;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 14px;
  //background-color: #a8dab5;
}
.mat-mdc-text-field-wrapper {
  top: 37px !important; // Adjust start position 
}
.mat-mdc-form-field-flex  {
  top: 36px !important;  
}
.mat-mdc-floating-label {
  top: 14px  !important;
  //background-color: red;
}
.mat-mdc-form-field-subscript-wrapper {
  top:39px;
  //background-color: yellow;
}
/* fin de personalisation  mat-form-field */