/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #3F729B;
    background-color: whitesmoke;
    line-height: 1.2;
    margin: 0.4rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;      
  }

input, select {
    max-width: 300px
}

label {
    margin-top: 10px;
    margin-left: 5px;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn {
   margin-top: 5px;
   max-width: 110px;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.form-group {
    margin-bottom: 0.5rem ;
}

.form-control {
    font-size: 1.2rem;
}

.container {
    color: #104090;
}

