
<!--form class="example-form">

  <mat-form-field>
    <mat-label>Number</mat-label>

    <input type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto">

    <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>

    <div class="error-text"
    *ngIf="formGroup.controls['myControl'].hasError('required')
    && formGroup.controls['myControl'].touched"
    >
      Champ obligatoire !
    </div>

  </mat-form-field>
</form-->

<form [formGroup]="formGroup">

  <mat-form-field>
    <mat-label>Article</mat-label>

    <input
    type="text"
    matInput
    formControlName="myControl"
    [placeholder]="formGroup.controls['myControl'].touched ? '' : 'Saisir le début...'"
    aria-label="autocomplete"
    [matAutocomplete]="auto"
    />

    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete" (optionSelected)="onSelected($event)">
      <mat-option
        *ngFor="let item of filteredItems$ | async"
        [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>

    <div class="error-text"
    *ngIf="formGroup.controls['myControl'].hasError('required')
    && formGroup.controls['myControl'].touched">
      Champ obligatoire !
    </div>
  </mat-form-field>
</form>

<mat-card class="m-1" [formGroup]="formGroup" >
  <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
    <mat-form-field class="custom">
      <mat-label >Prénom</mat-label>
      <input
      type="text"
      matInput
      formControlName="myControl"
      placeholder= "saisir prénom"
      >
      <mat-error> Saisie incorrecte </mat-error>
    </mat-form-field>
</mat-card>
