<div class="card">
    <h4 class="card-header">Connexion</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="text" formControlName="email" class="form-control"
                autocomplete="username" 
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf=" f['email'].errors?.['required'] && form.controls['email'].touched" class="invalid-feedback">
                    <div  class="error">Adresse mail à saisir</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control" 
                    autocomplete="current-password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="f['password'].errors?.['required'] && form.controls['password'].touched" class="invalid-feedback">
                    <div *ngIf="f['password'].errors?.['required']">Mot de passe à saisir</div>
                </div>
            </div>   
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Envoi
                </button>
                <a routerLink="../register" class="btn btn-link">Mon Compte</a>
            </div>
        </form>
    </div>
</div>