<mat-card
class=" m-1"
[formGroup]="mainForm">
  <mat-card class="m-1" [formGroup]="personalInfoForm" >
    <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field class="custom">
        <mat-label>Prénom</mat-label>
        <input class="" type="text" matInput formControlName="firstName">
        <mat-error> Saisie incorrecte </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error>Champ nécessaire </mat-error>
      </mat-form-field>
    </div>
  </mat-card>

<mat-card class="m-1" [formGroup]="emailForm" >
    <div class="form-row">
      <mat-card-subtitle  class="mw-field fs-6">Vous joindre?</mat-card-subtitle>
      <mat-form-field >
        <mat-label>Téléphone</mat-label>
        <input type="text" matInput [formControl]="phoneCtrl">
        <mat-error> {{getFormControlErrorText(phoneCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field >
        <mat-label>Adresse mail</mat-label>
        <input class="" type="text" matInput formControlName="email">
        <mat-error> {{getFormControlErrorText(emailCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Confirmer le mail</mat-label>
        <input type="text" matInput formControlName="confirm">
        <mat-error> {{getFormControlErrorText(confirmEmailCtrl)}} </mat-error>
      </mat-form-field>

    </div>
    <small class="error-text" *ngIf="showEmailError$ | async">Adresses différentes</small>
</mat-card>

<mat-card class="m-1" [formGroup]="loginInfoForm" >

  <div class="form-row">
    <mat-card-subtitle  class="mw-field fs-6">Connexion :</mat-card-subtitle>
    <mat-form-field >
      <mat-label>Identifiant</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error>Champ nécessaire</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field >
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput [formControl]="passwordCtrl">
      <mat-error> {{getFormControlErrorText(passwordCtrl)}} </mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Confirm. mot de passe</mat-label>
      <input type="password" matInput [formControl]="confirmPasswordCtrl">
      <mat-error> {{getFormControlErrorText(confirmPasswordCtrl)}} </mat-error>
    </mat-form-field>
  </div>
  <small class="error-text" *ngIf="showPasswordError$ | async">Mots de passe différents</small>

  <mat-card-actions>
    <button mat-flat-button color="primary"  [disabled]="!mainForm.valid">VALID</button>
  </mat-card-actions>
</mat-card>
