@media (max-width: 576px) {
  .custom-vh { height: auto; }
}

@media (min-width: 576px) {
  .custom-vh { height:100vh; }
  :host {
    position: relative;
    top: 1px;
    width: 25%;
  } 
}

@media (min-width: 768px) {
  .custom-vh { height: auto; }
  :host {
    position: sticky;
    width: auto;
  } 
}



