label { 
  margin: 7px 0px 2px 0px; 
  flex-grow: 100;
  align-content: end;
  max-width: 90px;
}

mat-mdc-{
  max-width: 280;
}
select input {
  max-width: 280;
}

.form-row {
  display: flex;
  align-items: center; /* Aligns label and input vertically in the center */
  justify-content:center; /* Spreads them out properly */
  width: 100%; /* Ensures the row takes up the full width */
  margin-bottom: 1rem; /* Optional: Add spacing between rows */
}

.form-row label {
  display: flex;
  flex: 0 0 auto;
  text-align: right;
  width: 80px;
}

.form-row .form-control {
  display: flex;
  width: 100%;
  flex: 1; /* Adjusts the input to take up more space compared to the label */
}

