<div class="container-fluid m-0 p-0">
<div class="row mx-0 p-0">
  <!-- 1ere colonne reprenant les paramètres d'affichage-->
  <div class="col-sm-3 my-0 p-0 fond-saumon">
    <div>
      
      <h6>
        <span class="small12">sortie: {{id}}</span>
        - Filtres actifs </h6>
    </div>
    <form
    [formGroup]="fg"
    class="form-group short"
    >
      <div class="row" *ngFor="let field of fieldsParams">
        <div class="col-3 col-sm-12">
          <label for="{{ field.label}}">
            {{ field.label  | titlecase }}
          </label>
        </div>
        <div class="col-9 col-sm-12">
          <input
          class="form-control"
          formControlName="{{ field.label}}"
          type= "{{field.type}}"
          id="{{ field.label}}" name="{{ field.label}}"
          readonly
          >
        </div>
      </div>
    </form>
  </div>

  <!-- 2ème colonne données à saisir-->
  <div class="col-sm-9 card mb-1 p-1">
    <form [formGroup]="fg2"
    class="form-group was-validated">
      <div class="row" *ngFor="let field of fields">
        <div class="col-4">
          <label for="{{ field.label}}">{{ field.label  | titlecase }}</label>
        </div>
        <div class="col-8" [ngSwitch]="field.type">
          <select class="form-control my-1" 
          required
          *ngSwitchCase="'select'"
          type="field.type" 
          [formControlName]="field.label">
            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
          </select>
          <input class="form-control my-1"
          *ngSwitchCase="'label'"
          id="{{ field.label}}"
          type="text"
          readonly
          >
          <div *ngIf="submitted && f['{{ field.label }}'].errors" class="invalid-feedback" id="{{ field.label}}">
            <div *ngIf="f['{{ field.label }}'].errors['required']">Choisissez une valeur'
            </div>
          </div>
          <input class="form-control my-1"
          required 
          *ngSwitchDefault 
          type="field.type" 
          [formControlName]="field.label" />
        </div>
      </div>
    </form>
  </div>
</div>
</div>


