
.filtre {
  all: unset;
  display: flex;
  flex-wrap: row,nowrap;
  align-content: space-evenly;
  align-items: center;
  margin-inline-end: 5px;
  color: purple ;
  label {
    word-break: break-all;
    width: 44px;
    max-width: 44px;
    margin: 0 5px 0 0;
    padding: 0%;
    font-size: calc(10px + 0.3vw); 
    flex: 1;
    zoom: 90%
  }
  input {
    word-break: break-all;
    width: 45%;
    max-width:55px;
    margin: 4px 0;
    font-size: 12px; 
    
  }
}


#jourPar {
  width: 75%;
  max-width:95px;
}

#Jour{
  color: red;
  display: flex;
  flex: 0 92px;
  max-width: unset;
}