label { 
  margin: 7px 0px 2px 0px; 
  flex-grow: 100;
  align-content: end;
  text-align-last: start;
  max-width: 90px;
}

input mat-mdc-{
  max-width: 280;
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: left;
  margin: 4px 1px 0 1px;
  gap: 0 0 ;
  line-height: 16px;
}